# Node modules
node_modules/
.env

pitches.json

#Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#OS files
.DS_Store
Thumbs.db

#output
dist/
build/

#Coverage reports
coverage/

# Temporary files
*.tmp
*.swp
